<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Profile</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<%= gravatar_image_tag(User.find(3).email, size: 64, alt: User.find(3).name) %>

					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= User.find(3).name %></strong><br />
							<small><%= User.find(3).username %></small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Tweeets</p>
						<p class="title is-6"><%= User.find(3).tweeets.count %></p>
					</div>
				</div>

					<div class="level-item has-centered-text">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6"><%= User.find(3).follower.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div>
					<% if !user_signed_in?%>
						<p class="heading">Following</p>
						<p class="title is-6">	<%= User.find(3).following.count %></p>


					<% end %>

							<% if user_signed_in? && (User.find(3).follower.count)%2==0 %>
									<p class="title is-6"><%=link_to 'Follow', user_relationships_path(User.find(3)), method: :post,button:'idi' %></p>
							<% end %>
 <% if user_signed_in? && (User.find(3).follower.count)%2==1 %>
							<p class="title is-6"><%=link_to 'Unfollow', relationship_path(Relationship.last), method: :delete,button:'idi' %></p>
								<% end %>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
